*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul li{
    margin-top: 30px;
    display: inline-block;
    align-items: center;
    margin: 10px;
}
header {

    width: 100%;
    height: 55px;
    background-color: white;
    box-shadow: 0 0 5px #cacaca;
}
header nav {
    display: flex;
    padding:0 1%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.all{
    padding: 0;
}

.all .tel{
    margin-left: 160px;
}
button{
    color: rgba(255, 166, 0, 0.829);
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid rgba(255, 166, 0, 0.897);
    width: 100px;
    height: 30px;

}

.header-right{
    display: flex;
    margin-right: 100px;
}
.header-right a{
    margin-left: 20px;
}
.header-right .language{
    margin-left: 15px;
}
.header-right .flag{
    margin-left: 20px;
    margin-top: 5px;
}
.header-right .las{
    width: 60px;
}
.header-right .text-item{
    text-size-adjust: 10px;
}
.header-right .selection{
    margin-top: 10px;
}
.altnav .irsad{
    margin-left: 15px;
    margin-top: 20px;
    margin: 20px;
}
.btn{
    background-color: green;
    color: white;
    width: 120px;
    height: 50px;
    margin: 10px; 
}
input{
    width: 550px;
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
.altnav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mq{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.like{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.cart{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment-btn{
    width: 140px;
    height: 80px; 
    border: 1px solid rgb(71, 216, 71);
    color: rgb(77, 219, 77);
    background-color: #fff;
}
.payment-btn:hover{
    color: white;
    background-color: rgb(62, 228, 62);
    transition: 1s;
}
